
@media ( max-width: 480px ) {
    .header-nav { 
        display: none;
    }

    .burger-icon {
        display: block;
    }

    .header-h1 {
        font-size: 50px;
        color: #57b9f5;
    }








}