                                                                  /* header */

.header-wraper { 
     background-image: url(../img/bg-img.jpg);
     height: 900px;
     width: 100%;
     background-size: cover;
     background-position: center;
     position: relative; 
}

.header-h3 { 
     width: 101px;
     height: 34px;
     font-family: 'Dancing Script Bold';
     font-size: 28px;
     color: #D9F0FF; 
}

.header-box { 
     max-width: 1070px;
     margin: 0 auto;
     padding-top: 51px;
}

.header-flex { 
     display: -webkit-box; 
     display: -ms-flexbox; 
     display: flex; 
     -webkit-box-pack: justify; 
         -ms-flex-pack: justify; 
             justify-content: space-between;
     -webkit-box-align: center;
         -ms-flex-align: center;
             align-items: center;
}

.nav-box { 
     display: -webkit-box; 
     display: -ms-flexbox; 
     display: flex;
     -webkit-box-pack: justify;
         -ms-flex-pack: justify;
             justify-content: space-between;
     width: 345px;
     height: 17px;
}

.nav-a { 
     color: #D9F0FF;
     font-family: 'Poppins Medium';
     font-size: 12px;
     letter-spacing: 2px;
}

.header-h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: #ffffff;
    font-family: 'Lato Light';
    font-size: 100px;
    white-space: nowrap;
}

.burger-icon {
    font-size: 30px;
    color: #ffffff;
    display: none;
}
 
                                                                  /* section 2 */

.section2  {
     width: 100%;
     height: 100%;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: center;
         -ms-flex-pack: center;
             justify-content: center;
}

.s2-box1 {
     max-width: 640px;
     width: 100%;
     height: 600px;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
         -ms-flex-direction: column;
             flex-direction: column;
     padding-left: 85px;
     padding-right: 85px;
     -webkit-box-pack: center;
         -ms-flex-pack: center;
             justify-content: center;
}

.s2-box1 h3 {
     max-width: 468px;
     width: 100%;
     height: 186px;
     font-family: 'Lato Light';
     font-size: 50px;
     color: #000000;
     line-height: 60px;
}

.s2-box1 p {
     max-width: 457px;
     width: 100%;
     height: 128px;
     font-family: 'Poppins Regular';
     font-size: 16px;
     color: #000000;
     line-height: 25px;
     margin-top: 24px;
}

.s2-box1-viwe {
     max-width: 307px;
     width: 100%;
     height: 72px;
     background-color: #325DFF;
     border-radius: 90px;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: center;
         -ms-flex-pack: center;
             justify-content: center;
}

.s2-box1-viwe p {
     width: 217px;
     height: 22px;
     text-align: center;
     font-family: 'Lato Bold';
     font-size: 14px;
     line-height: 17px;
     letter-spacing: 3px;
     color: #FFFFFF;
}

.s2-box2 {
     max-width: 640px;
     width: 100%;
     height: 600px;
     background-image: url(../img/s2-img.png);
     background-size: cover;
     background-position: center;
}

                                                                  /* section 3 */

.section3 {
     width: 100%;
     height: 100%;
     padding-top: 75px;
     padding-bottom: 100px;
     margin: 0 auto;
}
.s3-head-box {
     max-width: 790px;
     width: 100%;
     height: 130px;
     margin: 0 auto;
     margin-bottom: 39px;
}

.s3-head-box h3 {
     max-width: 570px;
     width: 100%;
     height: 50px;
     margin: 0 auto;
     font-family: 'Lato Light';
     font-size: 35px;
     color: #000000;
     text-align: center;
}

.s3-head-box p {
     max-width: 790px;
     width: 100%;
     height: 71px;
     padding-left: 20px;
     padding-right: 20px;
     font-family: 'Poppins Regular';
     font-size: 16px;
     color: #000000;
     text-align: center;
}

.s3-big-box {
     max-width: 1200px;
     width: 100%;
     height: 800px;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -ms-flex-wrap: wrap;
         flex-wrap: wrap;
     -webkit-box-pack: space-evenly;
         -ms-flex-pack: space-evenly;
             justify-content: space-evenly;
     margin: 0 auto;
}
.s3-box {
     width: 371px;
     height: 374px;
     margin-top: 25px;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
         -ms-flex-direction: column;
             flex-direction: column;
     -webkit-box-align: center;
         -ms-flex-align: center;
             align-items: center;
     border: 0.5px solid #CECECE;
}

.s3-box h6 {
     width: 120px;
     height: 33px;
     font-family: 'Lato Regular';
     font-size: 18px;
     color: #000000;
     margin-top: 27px;
     text-align: center;
}

.s3-box p {
     width: 251px;
     margin-top: 9px;
     text-align: center;
     font-family: 'Poppins Light';
     font-size: 16px;
     color: #000000;
}

.s3-img-box {
     width: 88px;
     height: 88px;
     margin: 0 auto;
     margin-top: 67px;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     background-color: #325DFF;
     border-radius: 50%;
     -webkit-box-pack: center;
         -ms-flex-pack: center;
             justify-content: center;
     -webkit-box-align: center;
         -ms-flex-align: center;
             align-items: center;
}